O cabeçalho HTTP Expect-CT é um cabeçalho do tipo resposta que impede o uso de certificados emitidos incorretamente para um site e garante que eles não sejam 
despercebidos, além de permitir que os sites decidam sobre o relatório ou a aplicação dos requisitos de Transparência do Certificado.

The HTTP Expect-CT header is a response header that prevents the use of incorrectly issued certificates for a website and ensures that they are not overlooked, 
in addition to allowing websites to decide on reporting or applying Certificate Transparency requirements.

# BLOQUEAR ATAQUE DE EXPECT-CT #
# BLOCK EXPECT-CT ATTACK #
<IfModule mod_headers.c>
    Header set Expect-CT "max-age=604800, enforce"
</IfModule>
